body{
    font-family: cursive, "Courier New", serif, sans-serif;
}
#about {
    min-height: 450px;
}
#who{padding-top: 80px}

#recent {min-height: 450px}
.carousel-item img{
    background-size: contain;
    background-position: center;
    /*width: 80%;*/
    /*max-height: 500px;*/
    align-content: center;
}
#skills{margin-bottom: 20px}
a .navbar-brand{letter-spacing: 10px}